@import './../../styles.scss';

::ng-deep .mat-icon {
    height: calc(36px + 5.714vh) !important;
    width: calc(36px + 3.571vw) !important;
    line-height: calc(36px + 5.714vh) !important;
    font-size: calc(36px + 3.571vw);
}

.mat-icon-button {
    height: calc(36px + 5.714vh) !important;
    width: calc(36px + 3.571vw) !important;
}

.footer {
    position: absolute;
    bottom: 2.381vh;
    left: 0;
    right: 0;
  }
  
.previous-next-icon {
    height: calc(12px + 5.714vh) !important;
    width: calc(12px + 3.571vw) !important;
    line-height: calc(12px + 5.714vh) !important;
    font-size: calc(12px + 3.571vw);
}

.previous-next-button {
    height: calc(12px + 5.714vh) !important;
    width: calc(12px + 3.571vw) !important;
}
