<div class="footer">
  <button class="previous-next-button" mat-icon-button (click)="previousClick()">
    <!-- Previous -->
    <mat-icon class="previous-next-icon" aria-label="Play Training">skip_previous</mat-icon>
  </button>
  <button *ngIf="!playing" mat-icon-button (click)="playClick()">
    <mat-icon aria-label="Play Training">play_circle_outline</mat-icon>
  </button>
  <button *ngIf="playing" mat-icon-button (click)="pauseClick()">
    <mat-icon aria-label="Stop Training">pause_circle_outline</mat-icon>
  </button>
  <button class="previous-next-button" mat-icon-button (click)="nextClick()">
    <!-- Next -->
    <mat-icon class="previous-next-icon" aria-label="Play Training">skip_next</mat-icon>
  </button>
  <!-- <button (click)="playClick()">Start</button>
  <button (click)="pauseClick()">Pause</button> -->
  
</div>