<div>
  <div class="image-container">
    <img [src]="exerciseModel.ImageUrl" />
  </div>
  <div class="footer">
    <div class="exercise-name">
      <label>{{ exerciseModel.Name }}</label>
    </div>
    <app-metronome [(enabled)]="exerciseModel.HasMetronome" [(beatsPerMinute)]="exerciseModel.BeatsPerMinute"
      #metronomeComponent></app-metronome>
    <app-timer (finishedTimerEvent)="finishedExerciseEmitMethod()" [(minutes)]="exerciseModel.Minutes"
      [(seconds)]="exerciseModel.Seconds" #timerComponent></app-timer>
  </div>
</div>