@import './../../styles.scss';

.exercise-name {
    font-size:calc(15px + 1.190vw);
    margin-top: 4.762vh;
}

.footer {
    position: absolute;
    bottom: 9.524vh;
    left: 0;
    right: 0;
  }

.image-container {
    height: 47.619vh;
    min-height: 240px;
    width: 95.238vw;
    line-height: 57.143vh;
}

.image-container img {
    vertical-align: middle;
    max-width: 100%;
    max-height: 100%;
}
