.contents {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.main-container {
    height: 100vh !important;
}

.close {
    height: calc(5.714vh) !important;
    width: calc(5.714vh) !important;
    line-height: calc(5.714vh) !important;
    font-size: calc(3.571vw);
    cursor: pointer;
}

.menu {
    height: calc(5.714vh) !important;
    width: calc(5.714vh) !important;
    line-height: calc(5.714vh) !important;
    font-size: calc(3.571vw);
    cursor: pointer;
    margin-right: 25px;
}

.mat-card {
    width: 340px;
    height: 75px !important;
    padding: 10px !important;
    display: flex;
    justify-content: space-between;
    &:hover {
        background: rgba(229,229,229,1) !important;
    }
}

.mat-list-item {
    height: 100px !important;
}

.mat-drawer {
    min-width: 400px !important;
}

.cdk-drag {
    cursor: move;
}
.cdk-drag-preview .mat-card {
    background: rgba(229,229,229,.75) !important;
}

.icon-exercise-name {
    display: flex;
    align-items: center;
}

.icon-exercise-name span {
    margin-left: 5px;
}

.edit-buttons {
    display: flex;
    align-items: center;
}

.dotted {
    // padding: 2.25em 1.6875em;
    background-image: -webkit-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%) !important;
    background-image: -moz-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%) !important;
    background-image: -ms-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%) !important;
    background-image: repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%) !important;
    -webkit-background-size: 3px 3px !important;
    -moz-background-size: 3px 3px !important;
    background-size: 3px 3px !important;
}

.drag-area {
    width: 20px !important;
    height: 30px !important;
    margin-right: 10px;
    cursor: move;
}

.inside-input {
    max-width: 40px !important;
    text-align: center;
}

.bpm {
    margin-right: 5px;
}

.inside-input input {
    align-content: center;
}

.inside-input-text {
    width: 130px !important;
    text-align: center;
}