<mat-drawer-container [class.drawer-opened]="drawer.opened" class="main-container">
  <mat-drawer #drawer class="drawer" mode="side" opened="true">

    <mat-toolbar class="header">
      <div>Parâmetros do Treino</div>
      <mat-icon class="close" (click)="drawer.close()">close</mat-icon>
    </mat-toolbar>
    <div class="contents">
        <mat-form-field class="full-width">
          <input type="number" [ngModelOptions]="{standalone: true}" matInput placeholder="Quantidade de Exercícios"
            [(ngModel)]="amountOfExercises" value="{{ amountOfExercises }}">
        </mat-form-field>
        <mat-form-field class="full-width">
          <input type="number" [ngModelOptions]="{standalone: true}" matInput placeholder="Minutos"
            [(ngModel)]="durationMinutes" value="{{ durationMinutes }}">
        </mat-form-field>
        <mat-form-field class="full-width">
          <input type="number" [ngModelOptions]="{standalone: true}" matInput placeholder="Segundos"
            [(ngModel)]="durationSeconds" value="{{ durationSeconds }}">
        </mat-form-field>
        <mat-form-field class="full-width">
          <input type="number" [ngModelOptions]="{standalone: true}" matInput placeholder="Intervalo dos Exercícios (Segundos)"
            [(ngModel)]="durationIntervalSeconds" value="{{ durationIntervalSeconds }}">
        </mat-form-field>
        <mat-form-field class="full-width">
          <input type="number" [ngModelOptions]="{standalone: true}" matInput placeholder="BPM"
            [(ngModel)]="bpmExercise" value="{{ bpmExercise }}">
        </mat-form-field>
        <button type="button" mat-raised-button (click)="generateFreeTraining()">Gerar Treino</button>
    </div>
    <div id="drag-and-drop">
      <mat-list cdkDropList (cdkDropListDropped)="drop($event)">
        <h2 class="mat-h2">Exercícios ({{trainingModel.AmountOfExercises}} exercícios)</h2>
        <mat-list-item *ngFor="let exercise of trainingModel.Exercises" cdkDrag>
          <mat-card>
            <div class="icon-exercise-name">
              <div class="drag-area dotted"></div>
              <!-- <span> {{exercise.Name}}</span> -->
              <mat-form-field class="inside-input-text">
                <input type="text" [ngModelOptions]="{standalone: true}" matInput placeholder="Exercício"
                  [(ngModel)]="exercise.Name" value="{{ exercise.Name }}">
              </mat-form-field>
              <mat-form-field class="inside-input bpm">
                <input type="number" [ngModelOptions]="{standalone: true}" matInput placeholder="BPM"
                  [(ngModel)]="exercise.BeatsPerMinute" value="{{ exercise.BeatsPerMinute }}" min="0">
              </mat-form-field>
            </div>
            <div class="edit-buttons">
              <mat-form-field class="inside-input">
                <input type="number" [ngModelOptions]="{standalone: true}" matInput placeholder="Min."
                  [(ngModel)]="exercise.Minutes" value="{{ exercise.Minutes }}" min="0" max="59">
              </mat-form-field>
              : 
              <mat-form-field class="inside-input">
                <input type="number" [ngModelOptions]="{standalone: true}" matInput placeholder="Seg."
                  [(ngModel)]="exercise.Seconds" value="{{ exercise.Seconds }}" min="0" max="59">
              </mat-form-field>
              <div>
                  <i mat-button class="material-icons pointer icon-action"
                    (click)="removeExerciseFromTraining(exercise)">delete</i>
              </div>
            </div>
          </mat-card>
        </mat-list-item>
      </mat-list>
    </div>
  </mat-drawer>

  <mat-toolbar class="main header">
    <mat-icon *ngIf="!drawer.opened" (click)="drawer.toggle()" class="menu">
      menu
    </mat-icon>
    <div>My Free Guitar Training</div>
  </mat-toolbar>

  <div class="main contents">
    <app-training 
      [hidden]="showTrainingComponent()" 
      [(trainingModel)]="trainingModel"
      [showTrainingFinished]="false" #trainingComponent></app-training>
  </div>


  <!-- <mat-toolbar class="main footer">
  Footer
</mat-toolbar> -->
</mat-drawer-container>