
.training-form {
    min-width: 650px;
    width: 100%;
}

.center {
    margin: 0 auto !important;
    max-width: 650px;
}

.full-width {
    width: 100%;
}

.margin-top {
    margin-top: 20px;
}

.check-private {
    text-align: right;
}

.save-button {
    width: 100%;
}

.add-button {
    margin-left: 15px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.ready-button {
    margin-top: 20px;
}

.new-exercise-input {
    max-width: 600px;
}

.new-exercise-time-input {
    max-width: 150px;
}

.new-exercise-container {
    display: flex;
    flex-direction: column;
}

.name-time-fields-container {
    display: flex;
    justify-content: center;
}

.name {
    flex-grow: 1 !important;
    margin: 0 20px 0 0;
}

.minutes {
    margin: 0 15px 0 15px;
    width: 50px;
}

.seconds {
    margin: 0 15px 0 15px;
    width: 60px;
}

.bpm-fields-container {
    display: flex;
    justify-content: center;
}

.bpm {
    margin: 0 15px 0 15px;
    width: 50px;
}

.bpm-to-increase {
    margin: 0 15px 0 15px;
    width: 300px;
}

.has-metronome {
    text-align: right;
}


.order {
    float: right;
    max-width: 175px;
    width: 50%;
    margin-right: 25px;
}

.icon-action {
    margin-left: 5px;
}

.image-abstract {
    opacity: 0.3;
}

.image-container {
    margin-top: 20px;
    margin-bottom: 15px;
    max-width: 650px;
}

.image-container img {
    max-width: 100%;
    max-height: 100%;
}

.mat-card {
    width: 600px;
    padding: 10px !important;
    display: flex;
    justify-content: space-between;
    &:hover {
        background: rgba(229,229,229,1) !important;
    }
}

.cdk-drag {
    cursor: move;
}
.cdk-drag-preview .mat-card {
    background: rgba(229,229,229,.75) !important;
}

.icon-exercise-name {
    display: flex;
    align-items: center;
}

.icon-exercise-name span {
    margin-left: 5px;
}

.edit-buttons {
    display: flex;
    align-items: center;
}

.dotted {
    // padding: 2.25em 1.6875em;
    background-image: -webkit-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%) !important;
    background-image: -moz-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%) !important;
    background-image: -ms-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%) !important;
    background-image: repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%) !important;
    -webkit-background-size: 3px 3px !important;
    -moz-background-size: 3px 3px !important;
    background-size: 3px 3px !important;
}

.drag-area {
    width: 20px !important;
    height: 30px !important;
    margin-right: 10px;
    cursor: move;
}


