<div class="center">
  <h1 class="mat-display-1">Cadastro de Treino</h1>
  <mat-tab-group [(selectedIndex)]="selectedTabIndex">
    <mat-tab label="Treino" [disabled]="trainingTabDisabled">
      <div class="margin-top">
        <form class="training-form">
          <div>
            <mat-form-field class="full-width">
              <input [ngModelOptions]="{standalone: true}" matInput placeholder="Nome do Treino"
                [(ngModel)]="trainingModel.Name" value="{{ trainingModel.Name }}">
            </mat-form-field>
          </div>
          <div class="check-private">
            <mat-checkbox [(ngModel)]="trainingModel.IsPrivate" [ngModelOptions]="{standalone: true}">Treino Particular
            </mat-checkbox>
          </div>
        </form>
      </div>

      <div>
        <div id="drag-and-drop">
          <mat-list cdkDropList (cdkDropListDropped)="drop($event)">
            <h2 class="mat-h2">Exercícios ({{trainingModel.AmountOfExercises}} exercícios)</h2>
            <mat-list-item *ngFor="let exercise of trainingModel.Exercises" cdkDrag>
              <mat-card>
                <div class="icon-exercise-name">
                  <div class="drag-area dotted"></div>
                  <mat-icon mat-list-icon svgIcon="electric-guitar"></mat-icon>
                  <span> {{exercise.Name}} ({{exercise.Duration}} min.)</span>
                </div>
                <div class="edit-buttons">
                  <i mat-button class="material-icons pointer icon-action" (click)="editExercise(exercise)">edit</i>
                  <i mat-button class="material-icons pointer icon-action"
                    (click)="removeExerciseFromTraining(exercise)">delete</i>
                  <i mat-button class="material-icons pointer icon-action"
                    (click)="copyExercise(exercise)">file_copy</i>
                </div>
              </mat-card>
            </mat-list-item>
          </mat-list>
        </div>

        <button class="add-button" mat-fab color="primary" (click)="goToNewExercise()">
          <mat-icon mat-list-icon svgIcon="add"></mat-icon>
        </button>
        <button class="add-button" mat-raised-button color="primary" (click)="getAllExercises()">
          <mat-icon mat-list-icon svgIcon="add"></mat-icon>
          Adicionar exerício existente
        </button>
        <!-- TODO: Implementar o componente add-existing-exercise -->
      </div>
      <button class="save-button margin-top" mat-raised-button color="primary" (click)="saveTraining()">Salvar</button>
    </mat-tab>
    <mat-tab label="Novo Exercício" *ngIf="newExerciseVisible">
      <div class="new-exercise-container margin-top">
        <div class="name-time-fields-container">
          <div class="name">
            <mat-form-field class="full-width">
              <input [ngModelOptions]="{standalone: true}" matInput placeholder="Nome do Exercício"
                [(ngModel)]="newExercise.Name" value="{{ newExercise.Name }}">
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="full-width new-exercise-input minutes">
              <input type="number" [ngModelOptions]="{standalone: true}" matInput placeholder="Minutos"
                [(ngModel)]="newExercise.Minutes" value="{{ newExercise.Minutes }}">
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="full-width new-exercise-input new-exercise-time-input seconds">
              <input type="number" [ngModelOptions]="{standalone: true}" matInput placeholder="Segundos"
                [(ngModel)]="newExercise.Seconds" value="{{ newExercise.Seconds }}">
            </mat-form-field>
          </div>
        </div>
        <div class="bpm-fields-container">
          <div>
            <mat-form-field class="bpm">
              <input type="number" [ngModelOptions]="{standalone: true}" matInput placeholder="BPM"
                [(ngModel)]="newExercise.BeatsPerMinute" value="{{ newExercise.BeatsPerMinute }}">
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="full-width new-exercise-input">
              <input [ngModelOptions]="{standalone: true}" matInput placeholder="URL da Imagem" [(ngModel)]="newExercise.ImageUrl" value="{{ newExercise.ImageUrl }}">
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="bpm-to-increase">
              <input type="number" [ngModelOptions]="{standalone: true}" matInput
                placeholder="Aumentar essa quantidade de BPM por dia de Treino" [(ngModel)]="newExercise.BpmToIncrease"
                value="{{ newExercise.BpmToIncrease }}">
            </mat-form-field>
          </div>
        </div>
      </div>
      <!-- <div align="center">
        <mat-form-field class="order margin-top">
          <input type="number" [ngModelOptions]="{standalone: true}" matInput placeholder="Ordem de execução"
            [(ngModel)]="newExercise.OrderIndex" value="{{ newExercise.OrderIndex }}">
        </mat-form-field>
      </div> -->

      <div align="center">
        <div class="image-container">
          <img [src]="newExercise.ImageUrl" />
          <img *ngIf="shouldShowImageUploadCloud()" [src]="imageUploadCloud" class="image-abstract" />
        </div>
        <button type="button" mat-raised-button (click)="fileInput.click()">Choose File</button>
        <input hidden (change)="inputFileChange($event)" #fileInput type="file" id="file" accept=".gif,.jpg,.jpeg,.png">
      </div>

      <button class="ready-button full-width" mat-flat-button color="primary"
        (click)="addNewExercise()">Pronto!</button>
      <button *ngIf="this.newExercise.Id === undefined" class="ready-button full-width" mat-stroked-button color="warn"
        (click)="forgetMan()">Esquece vai!</button>
    </mat-tab>
  </mat-tab-group>
</div>