<div class="container-column">
  <mat-form-field class="goal">
    <input type="number" [ngModelOptions]="{standalone: true}" matInput placeholder="Meta" [(ngModel)]="goal"
      value="{{ goal }}">
  </mat-form-field>

  <mat-form-field class="counter">
    <input type="number" [ngModelOptions]="{standalone: true}" matInput placeholder="Contador" [(ngModel)]="counter"
      value="{{ counter }}">
  </mat-form-field>

  <div class="image-container" *ngIf="shouldShowCompleteImage()">
    <img [src]="imageCompleteCloud" />
  </div>
</div>