
.container-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 47.619vh;
    max-height: 150px;
    width: 95.238vw;
    line-height: 57.143vh;
}

.image-container img {
    vertical-align: middle;
    max-width: 100%;
    max-height: 100%;
}
