@import './../../styles.scss';

.training {
    font-size:calc(12px + 1.786vw);
}

.full-screen {
    height:100vh;
    width:100vw;
    overflow:hidden;
    position: absolute;
    left: 0;
    top: 0;
}

.background-white {
    background: white;
}

.opacity-95 {
    opacity: 0.95;
}

.container-flex {
    display: flex;
    justify-content: center;
}

.next-exercise-info {
    font-size: calc(16px + 1.548vw) !important;
    align-self: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.next-exercise-info img {
    border: double 4px transparent;
    border-radius: 50px;
    background-image: linear-gradient(white, white), radial-gradient(circle at top left, white, black);
    background-origin: border-box;
    background-clip: content-box, border-box;
    max-height: 275px;
    height: 26.190vh;
    margin-top: 15px;
}

.message-info-finished {
    font-size: calc(16px + 3vw) !important;
    align-self: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.message-info-finished span {
    align-self: center;
}

.message-info-finished img {
    align-self: center;
    margin-top: 30px;
    // max-height: 350px !important;;
    height: 50vh !important;
    line-height: 40vh;
}