<div align="center" class="training">
  <label>{{ trainingModel.Name }}</label>
</div>
<div align="center">
  <app-exercise (finishedExerciseEvent)="nextExercise()" [(exerciseModel)]="trainingModel.CurrentExercise"
    #exerciseComponent></app-exercise>

  <app-player (pauseEvent)="pause()" (playEvent)="play()" (previousEvent)="previousExercise()"
    (nextEvent)="nextExercise()"></app-player>
  
  <!-- <mat-form-field class="inside-input bpm">
    <input type="number" [ngModelOptions]="{standalone: true}" matInput placeholder="+BPM"
      [(ngModel)]="trainingModel.CurrentExercise.BeatsPerMinute" value="{{ trainingModel.CurrentExercise.BeatsPerMinute }}" min="0">
  </mat-form-field> -->
</div>
<div *ngIf="exerciseComponent.showLoading || showInitialLoading" class="full-screen">
  <div class="container-flex full-screen background-white opacity-95">
    <div class="next-exercise-info" align="center">
      <span>
        {{ trainingModel.CurrentExercise.Name }} <br>
        <span *ngIf="trainingModel.CurrentExercise.BeatsPerMinute > 0">{{ trainingModel.CurrentExercise.BeatsPerMinute }} BPM <br></span>
        Duração: {{ trainingModel.CurrentExercise.Duration }} <br>
      </span>
      <img [src]='imageLoading' />
    </div>
  </div>
</div>
<div *ngIf="trainingFinished && showTrainingFinished">
  <div class="container-flex full-screen background-white">
    <div class="message-info-finished">
      <span>
        Parabéns! Você concluiu mais um treino!
      </span>
      <img [src]='trainingFinishedImage' />
    </div>
  </div>
</div>