/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

.mat-tab-group {
    margin: 0 auto !important;
    max-width: 650px;
}

.mat-snack-bar-container {
    color: white;
    font-size: 15px;
    height: 60px;
    letter-spacing: 1px;
    min-width: calc(50vw) !important;
}

simple-snack-bar .mat-simple-snackbar-action {
    color: white;
  }
  
  simple-snack-bar .mat-button-focus-overlay {
    opacity: 0 !important;
  }
  
  simple-snack-bar .mat-ripple-element {
    display: none;
  }
  
  simple-snack-bar .mat-button {
    outline: none !important;
  }
  
  .mat-snack-bar-container.success {
      background: blue;
      padding-top: 20px;
  }
  
  .mat-snack-bar-container.error {
      background: red;
      padding-top: 20px;
  }

.pointer {
  cursor: pointer;
}
