<div *ngIf="userEmail">
  <h1>
    Bem vindo {{ user.UserName }}!
  </h1>
  <p>
    Esses são os seus treinos:
  </p>
  <div *ngFor="let training of userTrainings">
    <li>{{ training.TrainingName }}</li>
    <button (click)="goToTraining(training.TrainingId)">{{ training.TrainingName }}</button>
    <button (click)="goToTrainingEdit(training.TrainingId)">Editar</button>
  </div>
</div>